<div class="mx-auto" style="width: 260px">
  <h1>URL Shortener</h1>
</div>

<div class="mt-5">
  <form action="/url" method="POST">
    <input class="form-control" type="text" placeholder="Input URL here" name="link">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>