<div class="mx-auto" style="width: 260px">
  <h1>URL Shortener</h1>
</div>

<h1>Success! Please use this link:</h1>
<p>http://localhost:3000/{{ shortenLink }}</p>
{{!-- <p>{{ originLink }}</p> --}}

<a href="/">Back</a>